<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ indice + 1 }}. </span>
      <span class="noticias-source-name">{{ noticia.source.name }}</span>

      <div class="noticias-more">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()">{{
      noticia.title
    }}</ion-card-title>
  </ion-card-header>
  <ion-img
    *ngIf="noticia.urlToImage"
    [src]="noticia.urlToImage"
    class="animated fadeIn fast"
    (click)="abrirNoticia()"
  ></ion-img>
  <ion-card-content>
    <p>{{ noticia.description }}</p></ion-card-content
  >
</ion-card>
