<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment
    scrollable
    mode="md"
    (ionChange)="cambioCategoria( $event );"
    color="primary"
    [(ngModel)]="segmento"
  >
    <ion-segment-button
      mode="md"
      *ngFor="let categoria of categorias"
      [value]="categoria"
    >
      <ion-label text-capitalize>
        {{categoria}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
